body {
	background-color: #CCFFF9;
	color: #02717D;
	font-family:Georgia,Serif;
}

header {
	height: 200px;
}

nav {
	width: 0;
	float: left;
}

article {
	width: 700px;
	position: relative;
	left: 165px;
}

footer {
	clear: both;
	text-align: center;
}

img {
	margin-top: -26px;
	margin-left: -20px;
}

ul {
	padding-left: 0;
}

ul li {
	list-style-type: none;
	width: 100px;
}

.container {
	width: 860px;
	background:white;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
}

.left {
	position: relative;
	left: 800px;
	bottom: 37px;
	width: 200px;
}

td {
	width: 165px;
	text-align:left;
}

#left {
	left:688px;
}

a {
	color: green;
	text-decoration: none;
}

a:visited {
	color:green;
}

.media {
	color: purple;
}

.sl {
	color:yellow;
}

.community{
	color:green;
}

.header {
	padding: 0 25px;
}

label {
	position: relative;
}

label#message {
	right: 10px;
	bottom: 88px
}

label#subject {
	right: 3px;
	bottom: 1px;
}

input#subject {
	position: relative;
	width: 500px;
	left: 7px;
}

textarea#message {
	width: 500px;
	height: 100px;
}

.smbt {
	position:relative;
	right: 300px;
	top:20px;
	margin-bottom: 15px;
}

.qreply {
	width: 600px;
	height: 100px;
}