body {
	background-color: #CCFFF9;
	color: #02717D;
	font-family:Georgia,Serif;
}

header {
	height: 200px;
}

nav {
	width: 200px;
	height:0;
}

article {
	width: 700px;
	position: relative;
	left: 165px;
	bottom: 20px;
	.mixin (@a)
}

footer {
	clear: both;
	text-align: center;
}

img {
	margin-top: -26px;
	margin-left: -20px;
}

ul {
	padding-left: 0;
}

ul li {
	list-style-type: none;
}

.container {
	width: 860px;
	background:white;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
}

.left {
	position: relative;
	left: 800px;
	bottom: 37px;
	width: 200px;
}

td {
	width: 165px;
	text-align:left;
}

#left {
	left:688px;
}

a {
	color: green;
	text-decoration: none;
}

a:visited {
	color:green;
}

.media {
	color: purple;
}

.sl {
	color:yellow;
}

.community{
	color:green;
}

.header {
	padding: 0 25px;
}